web/WEB-INF/wsdl/localhost_8080/Flights_8/SearchWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://ws.flight.training.javabegin.ru/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.flight.training.javabegin.ru/" name="SearchWS">
<wsp:Policy wsu:Id="SearchWSPortBinding_MTOM_Policy-SearchWSPortBinding_MTOM_Policy">
<ns1:OptimizedMimeSerialization xmlns:ns1="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" wsp:Optional="true"/>
</wsp:Policy>
<types>
<xsd:schema>
<xsd:import namespace="http://ws.flight.training.javabegin.ru/" schemaLocation="http://localhost:8080/Flights_8/SearchWS?xsd=1"/>
</xsd:schema>
</types>
<message name="buyTicket">
<part name="parameters" element="tns:buyTicket"/>
</message>
<message name="buyTicketResponse">
<part name="parameters" element="tns:buyTicketResponse"/>
</message>
<message name="getAllCities">
<part name="parameters" element="tns:getAllCities"/>
</message>
<message name="getAllCitiesResponse">
<part name="parameters" element="tns:getAllCitiesResponse"/>
</message>
<message name="searchFlight">
<part name="parameters" element="tns:searchFlight"/>
</message>
<message name="searchFlightResponse">
<part name="parameters" element="tns:searchFlightResponse"/>
</message>
<message name="checkReservationByCode">
<part name="parameters" element="tns:checkReservationByCode"/>
</message>
<message name="checkReservationByCodeResponse">
<part name="parameters" element="tns:checkReservationByCodeResponse"/>
</message>
<portType name="SearchWS">
<operation name="buyTicket">
<input wsam:Action="http://ws.flight.training.javabegin.ru/SearchWS/buyTicketRequest" message="tns:buyTicket"/>
<output wsam:Action="http://ws.flight.training.javabegin.ru/SearchWS/buyTicketResponse" message="tns:buyTicketResponse"/>
</operation>
<operation name="getAllCities">
<input wsam:Action="http://ws.flight.training.javabegin.ru/SearchWS/getAllCitiesRequest" message="tns:getAllCities"/>
<output wsam:Action="http://ws.flight.training.javabegin.ru/SearchWS/getAllCitiesResponse" message="tns:getAllCitiesResponse"/>
</operation>
<operation name="searchFlight">
<input wsam:Action="http://ws.flight.training.javabegin.ru/SearchWS/searchFlightRequest" message="tns:searchFlight"/>
<output wsam:Action="http://ws.flight.training.javabegin.ru/SearchWS/searchFlightResponse" message="tns:searchFlightResponse"/>
</operation>
<operation name="checkReservationByCode">
<input wsam:Action="http://ws.flight.training.javabegin.ru/SearchWS/checkReservationByCodeRequest" message="tns:checkReservationByCode"/>
<output wsam:Action="http://ws.flight.training.javabegin.ru/SearchWS/checkReservationByCodeResponse" message="tns:checkReservationByCodeResponse"/>
</operation>
</portType>
<binding name="SearchWSPortBinding" type="tns:SearchWS">
<wsp:PolicyReference URI="#SearchWSPortBinding_MTOM_Policy-SearchWSPortBinding_MTOM_Policy"/>
<soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="buyTicket">
<input>
<soap12:body use="literal"/>
</input>
<output>
<soap12:body use="literal"/>
</output>
</operation>
<operation name="getAllCities">
<input>
<soap12:body use="literal"/>
</input>
<output>
<soap12:body use="literal"/>
</output>
</operation>
<operation name="searchFlight">
<input>
<soap12:body use="literal"/>
</input>
<output>
<soap12:body use="literal"/>
</output>
</operation>
<operation name="checkReservationByCode">
<input>
<soap12:body use="literal"/>
</input>
<output>
<soap12:body use="literal"/>
</output>
</operation>
</binding>
<service name="SearchWS">
<port name="SearchWSPort" binding="tns:SearchWSPortBinding">
<soap12:address location="http://localhost:8080/Flights_8/SearchWS"/>
</port>
</service>
</definitions>